<!DOCTYPE html>  
<html>
  <head>
    <title>Express App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body class="container ">
  <div class="has-text-centered my-6">
    <h1 class="heading1 button is-danger title is-size-3">
    Welcome to Express App
  </h1>
  </div>
  
  <div class="myDiv is-size-5 box has-background-danger-light">
    
  </div>
  <div class="inputDiv">
    
  
  <input class="input my-4" type="text">
  <button type="submit" class="button is-danger ">Add</button>
  <script src="/script.js" defer></script>
  </div>
  </body>
</html>